<h3>Are you sure you want to log out?</h3>
<form action='/sessions' method='post'>
  <input type='hidden' name='_method' value='DELETE'/>
  <input id='logout-btn' type='submit' value='Yes I want to log out'/>
</form>
