<div id='container'>
  <header class="jumbotron hero-spacer">
    <img src="/assets/800.jpg" alt="">
  </header>
  <div id='space-id'>

    <h1> <%=@space.name%> </h1>
    <h2> Price: <%=@space.price%> per day </h2>
    <p> Description: <%=@space.description %>  </p>
    <p> Maximum Capacity: <%=@space.capacity %> </p>
    <p id='dates'></p>
    <form  action='/requests/new' method='get'>
      <input class="btn btn-primary btn-large" type='submit' value='Book'/>
    </form>

  </div>
</div>
