<h1> <%=@space.name%> </h1>
<h2> Price: <%=@space.price%> per day </h2>
<p> Description: <%=@space.description %>  </p>
<p> Maximum Capacity: <%=@space.capacity %> </p>
<p id='dates'>

</p>

<form action='/requests/new' method='get'>
  <input type='submit' value='Book'/>
</form>
