<h1> <%=@space.name%> </h1>
<h2> <%=@space.price%> per day </h2>
<p> <%=@space.description %>  </p>
<p> <%=@space.capacity %> </p>


<form action='/requests' method='post'>
  <label for='date'>What day do you wish to stay?</label>
  <input id='date_field' type='date' name='date'>
  <label for='no_guests'>Number of guests:</label>
  <input id='number_of_guests' type='text' name='no_guests'>
  <input id='submit' type='submit' value="Book"/>
</form>
