
<div id='form'>
  <form action='/users' method='post'>
    <ul>
      <li><h2>Please sign up</h2></li>
      <li><label for="first_name">First Name: </label></li>
        <input id='first_name' type="text" name="first_name" />
      <li><label for="last_name">Last Name: </label></li>
        <input id='last_name' type="text" name="last_name" />
      <li><label for="username">Username:</label></li>
        <input id='username' type="text" name="username" />
      <li><label for="email">Email:</label></li>
        <input id='email' type="text" name="email" />
      <li><label for="password">Password:</label></li>
        <input id='password' type="password" name="password" />
      <li><input id='submit' type="submit" value="Sign up" /></li>
    </ul>
  </form>
</div>
