Please sign up
<form action='/users' method='post'>
  <label for="firstname">First Name: </label>
    <input id='first_name' type="text" name="first_name" />
  <label for="last_name">Last Name: </label>
    <input id='last_name' type="text" name="last_name" />
  <label for="username">Username:</label>
    <input id='username' type="text" name="username" />
  <label for="email">Email:</label>
    <input id='email' type="text" name="email" />
  <label for="password">Password:</label>
    <input id='password' type="password" name="password" />
  <input id='submit' type="submit" value="Sign up" />
</form>
