Please sign up
<form action='/users' method='post'>
  <label for="firstname">First Name: </label>
    <input type="text" name="firstname" />
  <label for="last-name">Last Name: </label>
    <input type="text" name="last-name" />
  <label for="username">Username:</label>
    <input type="text" name="username" />
  <label for="email">Email:</label>
    <input type="text" name="email" />
  <label for="password">Password:</label>
    <input type="password" name="password" />
  <input tyle="submit" value="Sign up" />
</form>
