<form action='/users/reset_password' method='get'>
    <label for="password">Please enter your email address
      <input id='recover-password' type="text" name="password" placeholder="Password">
      <input type="submit" value="Submit" >
    </label>
</form>
