#logo {
  width: 17%;
  float: left;
}
.nav {
  display: inline;
  padding-right: 10px;
  font-weight: bold;
  color: white;

}
.navbar-inverse {
  background-color: LightCoral;
}

.navigation-item {
    display: inline;
    float: right;
    padding-right: 10px;
    font-weight: bold;
    color: white;
}

.navbar-inverse .navbar-text {
  color: white;
}

a:link {color: black;}
a:hover {color: red;}
