.request-forms {
  width: 20%;
}

html {
  margin: 30px;
}

#logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}

#logoli {
  width: 100px;
}
.nav {
  display: inline;
  padding-right: 10px;
  font-weight: bold;
  color: white;

}
.navbar-inverse {
  background-color: LightCoral;
}

.navigation-item {
    display: inline;
    float: right;
    padding-right: 10px;
    font-weight: bold;
    color: white;
}
a.links:hover {
  color: purple;
}
a.links:visited {
  color: blue;
}
a.links:link {
  color: LightCoral;
}
.navbar-inverse .navbar-text {
  color: white;
}

.form {
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: pink;
  border-width: 1px;
  padding-bottom: 20px;
}

.form-group {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.input-group {
  margin: auto;
  width: 20%;
}

#welcome {
  text-align: center;
}

#space-id {
  float: right;
  margin-top: 2.5%;
  padding-left: 20px;
}

#space-id-text {
  text-align: left;
}

#container {
  display: inline-block;
}

.jumbotron {
  float: left;
}

#request-forms {
  display: inline-block;
}

#request-id {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 10px;
}

.image {
  width: 600px;
  height: auto;
}

#img-height {
  height: 126.56px;
}
