<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/mystyle.css?v=1" ></link>
    <nav id='nav'>
      <ul id="navigation-bar" class="clearfix">
        <li><img id="logo" src="/assets/logo.png"/></li>
        <li class="navigation-item"> <a id='list_space' href='/spaces/new'> List space </a></li>
        <li class="navigation-item"> <a id='view_spaces' href='/spaces/view'> View spaces </a></li>
        <li class="navigation-item"> <a id='view_requests' href='/requests/view'> View requests </a></li>


        <% if current_user %>
          <li class="navigation-item"> <a id='logout' href="/sessions/delete"> Log out </a></li>
        <% else %>
          <li class="navigation-item"> <a id='signup' href='/users/new'> Sign up </a>
          <li class="navigation-item"> <a id='login' href='/sessions/new'> Log in </a></li>
        <% end %>
      </ul>
    </nav>
    <h1> Welcome <%= current_user ? current_user.first_name : "Visitor!"  %> </h1> </br>
    <% if flash[:notice] %>
    <h3><%= flash[:notice].join(" ") %></h3>
    <% end %>
    <% if flash[:error] %>
    <h3><%= flash[:error].join(" ") %></h3>
    <% end %>
    <%= yield %>
  </body>

</html>
<!-- app/public/assets/airbnb-logo.png -->
